[submodule "deps/hpc-coding-conventions"]
	path = deps/hpc-coding-conventions
	url = https://github.com/BlueBrain/hpc-coding-conventions.git
[submodule "deps/cli11"]
	path = deps/cli11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "deps/nlohmann-json"]
	path = deps/nlohmann-json
	url = https://github.com/nlohmann/json.git
[submodule "deps/eigen"]
	path = deps/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "deps/range-v3"]
	path = deps/range-v3
	url = https://github.com/ericniebler/range-v3.git
